movieapp-master/movieapp-api/.idea/compiler.xml
movieapp-master/movieapp-api/.idea/compiler.xml
movieapp-master/movieapp-api/.idea/encodings.xml
movieapp-master/movieapp-api/.idea/jarRepositories.xml
movieapp-master/movieapp-api/.idea/misc.xml
movieapp-master/movieapp-api/.idea/runConfigurations.xml
movieapp-master/movieapp-api/.idea/vcs.xml


