.home-page-header{
    background: #ff9999;
    padding: 8px;
    text-align: center;
    font-size: 1rem;
}

.released-movies-container{
    display:  flex;
    align-items: stretch;
    flex-direction:  row;
}

.released-movies{
    flex-basis : 76%; 
    margin : 16px; 
}

.movie-filter{
    flex-basis : 24%; 
    margin : 16px;
}

.released-movie-hover{
    cursor: pointer !important;
}


