.movie-details-container{
    display: flex;
    align-items: stretch; 
    flex-direction: row;
}
.movie-details-left{
    flex-basis: 20%;
    

}
.movie-details-middle{
    flex-basis: 60%;
    margin : 30px; 

}
.movie-details-right{
    flex-basis: 20%;
    margin-top : 30px;
    margin-right: 24px !important;
}

.back-to-home{
    margin-left: 24px !important;
    margin-top:8px !important;
    margin-bottom: 0px !important;
    cursor: pointer !important;
    text-decoration: none;
}

.movie-poster{
    margin-left : 24px; 
}

.artists-title{
    margin-top : 16px; 
    margin-bottom : 16px; 
}


